html, body  {
background-image: white;
}


.box {
display: flex;
flex-direction: column;
border: 5px solid rgb(46, 46, 46); 
align-content: space-evenly;
margin-left: 40%;
background-color: rgb(237, 252, 170);
width: 400px;
height: 700px;  
border-radius: 40px;
}

.header-box {
order: 2;
background-color:rgb(161, 75, 75);
width: 400px;
height: 100px;
display: flex;
margin-top: 9%;
}

.header {
 text-align: center;
 margin-left: 5%;
 color: rgb(0, 0, 0);
 font-size: 50px;
}

.displayer {
order: 3;
border-radius: 2%;
border-color: black;
background-color: rgb(255, 255, 255);
justify-content: center;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
margin-left: 5%;
margin-top: 3%;
width: 350px;
height:200px;
overflow: auto;
}

.buttons {
order: 4;
display: flex;
justify-content: center;
padding: 7%;
flex-direction: row;
}

.left {
padding:5%;
}

.score {
padding: 5%;
}

.right {
padding:5%; 
}

.buttonleft{
 width: 50px;
 height: 30px;
 color: rgb(71, 2, 2);
 background-color: rgb(255, 126, 126);
}

.buttonleft:hover {
background-color: rgb(71, 2, 2);
color: rgb(255, 126, 126);
}

.buttonright:hover {
background-color: rgb(71, 2, 2);
color: rgb(255, 126, 126);
}

.buttonright {
width: 50px;
height: 30px;
color: rgb(71, 2, 2);
background-color: rgb(255, 126, 126);
}

.big-text {
justify-content: center;
font-size: 24px; 
font-family: cursive;
color: rgb(0, 0, 0);
}

.input-container {
display: flex;
order: 5;
justify-content: center;
padding: 5%;
}

input {
border: 5px solid rgb(146, 63, 63); 
padding: 5px; 
width: 150px;
height: 40px;
}

.add {
margin-left: 5%;
margin-bottom: 2%;
}
.addbutton {
width: 50px;
height: 30px;
color: rgb(71, 2, 2);
background-color: rgb(255, 126, 126);
}

.addbutton:hover {
background-color: rgb(71, 2, 2);
color: rgb(255, 126, 126);
}

