html, body  {
    background-image: linear-gradient(to  right,  #bb5a5a, #ee7070 );
}


.bodybox {
    display: flex;
    flex-direction: column;
    border: 5px solid rgb(4, 88, 11); /* Add border width and style */
    border-style:dashed;
    align-content: space-evenly;
    margin-left: 40%;
    background-color: rgb(102, 201, 168);
    width: 400px;
    height: 700px;  
    border-radius: 40px;
}

.headerbox {
    order: 2;
background-color:rgb(161, 75, 75);
    width: 400px;
    height: 100px;
    display: flex;
margin-top: 8%;


}

.header {
 text-align: center;
 margin-left: 5%;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 color: rgb(71, 11, 11);
}

.displayer {

    order: 3;
  border-radius: 2%;
  border-color: black;
  border-style: dotted;
background-color: rgb(255, 184, 184);
justify-content: center;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
margin-left: 5%;
margin-top: 3%;
width: 350px;
height:200px;
overflow: auto;
}

.buttons {
    order: 4;
    display: flex;
    justify-content: center;
    padding: 7%;
    flex-direction: row;
}

.left {
    padding:5%;

}

.score {
    padding: 5%;
}
.right {
    padding:5%;
 
}

.bleft{
 width: 50px;
 height: 30px;
 color: rgb(71, 2, 2);
 background-color: rgb(255, 126, 126);
}
.bleft:hover {
    background-color: rgb(71, 2, 2);
    color: rgb(255, 126, 126);
}

.bright:hover {
    background-color: rgb(71, 2, 2);
    color: rgb(255, 126, 126);
}

.bright {
    width: 50px;
    height: 30px;
    color: rgb(71, 2, 2);
    background-color: rgb(255, 126, 126);
}

.large-text {
    justify-content: center;
    font-size: 24px; 
    font-family: cursive;
color: rgb(0, 0, 0);
}
.input-container {
    display: flex;
    order: 5;
justify-content: center;
padding: 5%;
}

input {
    border: 5px solid rgb(146, 63, 63); /* Adjust the width and color as needed */

    padding: 5px; /* Optional: Add some padding for better appearance */
    width: 150px;
    height: 40px;
}
.add {
    margin-left: 5%;
    margin-bottom: 2%;
}
.addb {
    width: 50px;
    height: 30px;
    color: rgb(71, 2, 2);
    background-color: rgb(255, 126, 126);
}

.addb:hover {
    background-color: rgb(71, 2, 2);
    color: rgb(255, 126, 126);
}